# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Models and metadata
models/
*.pt
metadata.json

# Data files
data/*.csv